{% extends 'base.html.twig' %}

{% block body %}
	{{ season.program.title }}
	Saison
	{{ season.number }}
	{{ season.year }}
	{{ season.description }}


	{% for episode in episodes %}
		<a href="{{ path("program_episode_show", {programId: program.id, seasonId: season.id, episodeId: episode.id}) }}">
			Episode n°{{ episode.number }}</a>
	{% endfor %}
{% endblock %}
